:root {
  --line-border-fill: #850DFF;
  --line-border-empty: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  background-image: url(/assets/world.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*************************************** Progress bar ***************************************/

.progress-container {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: .5s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: .5s ease;
  transition-delay: .5s;
}

.circle.active {
  border-color: var(--line-border-fill);
}

/*************************************** Countries ***************************************/

.container {
  display: flex;
  flex-flow: column;
  width: 45rem;
  margin: 5rem auto;
}

.countries {
  display: inline-flex;
  font-size: 2rem;
}

.country-div {
  background-color: #fff;
  box-shadow: 1rem 2rem 5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 1.8rem;
  width: 40rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  overflow: hidden;
}

.country__img {
  border-bottom: 1px solid;
  width: 40rem;
  height: 23rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

/* .header-title {
  text-align: center;
}
 */

.country__data {
  padding: 3.5rem 1.75rem 3rem 1.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

/*************************************** Buttons ***************************************/

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 1rem 5rem;
  border-radius: 0.7rem;
  color: black;
  background-color: orangered;
  cursor: pointer;
  width: 100%;
  font-family: inherit;
  overflow: hidden;
  outline: none;
}

.btn-country:focus {
  outline: 0;
}

.btn-country:active {
  transform: scale(0.98);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 2.5rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

.title-text {
  margin-top: 5rem;
  text-align: center;
}

.title-text p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animateText 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.form-control {
  height: 4rem;
}

.odometer {
  font-size: 50px;
}

/**************************************** Modal ****************************************/

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 600ms ease-in;
  -moz-transition: opacity 600ms ease-in;
  transition: opacity 600ms ease-in;
  /* pointer-events: none; */
}

/* .modalDialog:target {
  opacity: 1;
  pointer-events: auto;
} 
 */
.modalDialog>div {
  width: 30rem;
  height: 30rem;
  position: relative;
  margin: 30vh auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

/**************************************** Animations ****************************************/

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .5s;
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .4s;
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes animateText {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@media only screen and (max-width: 425px) {
  .container-box {
    display: inline-block;
  }
  .progress-container {
    width: 95%;
  }
  .progress-container::before {
    height: 1px;
  }
  .circle {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    border: 1px solid var(--line-border-empty);
  }
  .country__img {
    width: 100%;
    object-fit: cover;
  }
}

.odometer.odometer-auto-theme .odometer-digit:last-child, .odometer.odometer-theme-car .odometer-digit:last-child {
  background-image: -moz-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
  background-image: -webkit-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
  background-image: linear-gradient(to bottom, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
  background-color: #eee0d3;
  color: #eee0d3;
}