@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
:root {
  --line-border-fill: #850DFF;
  --line-border-empty: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  -webkit-tap-highlight-color: transparent;
  background-image: url(./assets/images/world.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

#wiki {
  margin-left: 29rem;
}

.loading-page {
  position: relative;
  width: 30rem;
  margin: 35vh auto;
  z-index: 20;
}

.container-box {
  position: relative;
  z-index: 21;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-video {
  opacity: .7;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.bg-video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*************************************** Progress bar ***************************************/

.progress-container {
  z-index: 1;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: .5s ease;
}

.circle {
  font-family: 'Chakra Petch', sans-serif;
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: .5s ease;
  transition-delay: .5s;
}

.circle.active {
  border-color: var(--line-border-fill);
}

/*************************************** Countries ***************************************/

.container {
  display: flex;
  flex-flow: column;
  width: 46rem;
  margin: auto;
}

.countries {
  display: inline-flex;
  font-size: 2rem;
}

.country-div {
  margin: auto;
  background-color: #fff;
  box-shadow: 1rem 2rem 5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 1.8rem;
  width: 40rem;
  border-radius: 1rem;
  margin: 0 3rem;
  overflow: hidden;
  
}

.country-card{
  margin-top: -5rem;
}

.explore-container {
  position: fixed;
  
}

.country-explore{
  min-height: 65rem;
}

.first-page {
  min-height: 35rem;
}

.country__img {
  border-bottom: 1px solid;
  width: 40rem;
  max-height: 24rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: .5rem 1.75rem .5rem 1.75rem;
}

.country__name {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.country__region {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #888;
}

#regional-blocks {
  color: #850DFF;
}

.country__row:not(:last-child) {
  margin-bottom: .7rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 1.8rem;
}

#exceed {
  word-wrap: break-word;
}

/* Flags */

.flag-image {
  margin: .5rem;
  list-style-type: none;
  vertical-align: middle;
  width: 7rem;
  height: 4rem;
  cursor: pointer;
}

.title-box {
  margin-top: 5rem;
  text-align: center;
}

.title-text {
  padding: 2rem;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animateText 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

#good-score {
  margin-top: 3rem;
  padding: 0;
}

.form-control {
  animation: flash 1s;
  margin-bottom: 2rem;
  width: 100%;
  height: 4rem;
  overflow: hidden;
  animation-delay: 1.5s;
}

.form-control:focus {
  outline: none;
}

.region-container {
  width: 40rem;
  margin: auto;
}

/*************************************** Counter ***************************************/

.counter {
  position: fixed;
  top: 16rem;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.counter.hide {
  transform: translate(-50%, -50%) scale(0);
  animation: hide 0.2s ease-out;
}

@keyframes hide {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

.nums {
  font-family: 'Chakra Petch', sans-serif;
  color: #FFF;
  font-size: 50px;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 50px;
}

.nums span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}

.nums span.in {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn 0.5s ease-in-out;
}

.nums span.out {
  animation: goOut 0.5s ease-in-out;
}

/*************************************** Buttons ***************************************/

.btn {
  border: none;
  font-size: 2rem;
  padding: 1rem 5rem;
  border-radius: 0.7rem;
  color: black;
  background-color: orangered!important;
  user-select: none;
  cursor: pointer;
  width: 100%;
  font-family: inherit;
  overflow: hidden;
  outline: none;
  margin-bottom: 1rem;
}

#search{
  width: 230%;
}
#random-country{
  width: 230%;
}

.btn:focus {
  outline: none;
  background-color: orangered!important;
}

.btn:active {
  transform: scale(0.98);
}

.btn-glow {
  animation: fadeInLeftBig 2s;
  animation-fill-mode: backwards;
  box-shadow: 1rem 2rem 3rem 1rem rgba(0, 0, 0, 0.5);
  margin: 1rem;
  width: 100%;
  height: 4.5rem;
  border: none;
  outline: none;
  background: orangered;
  color: #000;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  border-radius: 10px;
  font-size: 2rem;
}

.btn-glow:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn-glow:active {
  transform: scale(0.98);
}

.btn-glow:hover:before {
  opacity: 1;
}

.new-s {
  margin-top: 1rem;
  position: relative;
  left: 6.1%;
}

.new-r {
  margin-top: 1rem;
  position: relative;
  left: 49.5%;
}

.explore-btn {
  border: none;
  font-size: 1rem;
  padding: 1rem 1rem;
  border-radius: 0.7rem;
  color: black;
  background-color: orangered!important;
  user-select: none;
  cursor: pointer;
  width: 10rem;
  overflow: hidden;
  outline: none;
}

.side-btn {
  font-size: 1.5rem;
  margin-left: 2.5rem;
  margin-top: 7rem;
  width: 13rem;
}

.side-btn:active {
  transform: scale(0.95);
}

.explore-btn:active {
  transform: scale(0.95);
}

.next-prev {
  text-align: center;
  height: 7rem;
  width: 7rem;
  border-radius: 40%;
  background-color: greenyellow;
  font-size: 6rem;
  cursor: pointer;
  outline: none;
  top: 35rem;
}

.next {
  position: relative;
  left: 37rem;
}

.previous {
  position: relative;
  left: -5.5rem;
}

#new-game {
  margin-top: 4rem;
}

ul {
  outline: none;
  border: none;
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 2.5rem;
  margin: 1rem 0;
}

ul li label {
  user-select: none;
  cursor: pointer;
}

/**************************************** Modal ****************************************/

.modalDialog {
  text-align: center;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -2;
  opacity: 0;
  -webkit-transition: opacity 600ms ease-in;
  -moz-transition: opacity 600ms ease-in;
  transition: opacity 600ms ease-in;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>div {
  width: 30rem;
  height: 30rem;
  position: relative;
  margin: 30vh auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.percent {
  color: #b34180;
  font-size: 6rem;
  text-align: center;
}

/**************************************** Odometer ****************************************/

.odometer {
  outline: none;
  display: inline-block;
  margin: 0 !important;
  position: fixed;
  left: 70%;
  margin: 5rem;
  font-size: 5rem;
  z-index: 100;
}

.odometer.odometer-auto-theme .odometer-digit:last-child, .odometer.odometer-theme-car .odometer-digit:last-child {
  background-image: -moz-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
  background-image: -webkit-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
  background-image: linear-gradient(to bottom, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
  background-color: #eee0d3;
  color: #eee0d3;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform .4s;
  -moz-transition: -moz-transform .4s;
  -ms-transition: -ms-transform .4s;
  -o-transition: -o-transform .4s;
  transition: transform .4s;
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform .4s;
  -moz-transition: -moz-transform .4s;
  -ms-transition: -ms-transform .4s;
  -o-transition: -o-transform .4s;
  transition: transform .4s;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-car {
  vertical-align: unset;
}

/**************************************** Signature *****************************************/

.signature {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient( ellipse 50% 15% at 50% 50%, rgba(0, 255, 255, 0.377), transparent);
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 85%;
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem rgb(64, 248, 248), -0.2rem 0.1rem 1rem rgb(64, 248, 248), 0.2rem 0.1rem 1rem rgb(64, 248, 248), 0 -0.5rem 2rem cyan, 0 0.5rem 3rem cyan;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%, 22%, 36%, 75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem rgb(64, 248, 248), -0.2rem 0.1rem 1rem rgb(64, 248, 248), 0.2rem 0.1rem 1rem rgb(64, 248, 248), 0 -0.5rem 2rem cyan, 0 0.5rem 3rem cyan;
  }
  28%, 33% {
    color: rgb(64, 248, 248);
    text-shadow: none;
  }
  82%, 97% {
    color: cyan;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #0010f7;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem rgb(64, 248, 248), -0.2rem 0.1rem 1rem rgb(64, 248, 248), 0.2rem 0.1rem 1rem rgb(64, 248, 248), 0 -0.5rem 2rem cyan, 0 0.5rem 3rem cyan;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

/**************************************** Burger menu ***************************************/

#sidebar {
  display: none;
  z-index: 1000;
  overflow-x: hidden;
  height: 18.5rem;
  position: absolute;
  left: 0;
  width: 19rem;
  margin-top: 5rem;
  transform: translateX(-25rem);
  transition: transform 400ms ease-in-out;
  background: linear-gradient(150deg, #f88967c0 20%, rgb(0, 0, 0) 100%);
}

input[type="checkbox"]:checked~#sidebar {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.4s;
  box-sizing: border-box;
  display: none;
}

.burger-menu {
  display: none;
  transition: all 0.4s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 3rem;
  left: 3rem;
  height: 3rem;
  width: 2.5rem;
}

.spinner {
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.horizontal {
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.4s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked~.burger-menu>.horizontal {
  transition: all 0.4s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked~.burger-menu>.diagonal.part-1 {
  transition: all 0.4s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked~.burger-menu>.diagonal.part-2 {
  transition: all 0.4s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/**************************************** Animations ****************************************/

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .5s;
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1s;
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  100% {
    opacity: 0;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1.2s;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

.zoomInNoDelay {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes zoomInNoDelay {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-1500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(1500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-1500px);
  }
}

.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(1500px);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}

.fadeInSmall {
  -webkit-animation-name: fadeInSmall;
  animation-name: fadeInSmall;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInSmall {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@keyframes animateText {
  0% {
    background-position: -400%;
  }
  100% {
    background-position: 400%;
  }
}

/* Button-glow */

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Progress */

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes goOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(20deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}

/**************************************** Mobile *******************************************/

@media only screen and (max-width: 1024px) {
  .odometer {
    left: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .next {
    left: 36rem;
  }
  .previous {
    left: -4.3rem;
  }
}

@media only screen and (max-width: 425px) {
  .container-box {
    display: inline-block;
  }
  .progress-container {
    margin-left: 5px;
    width: 45rem;
  }
  .progress-container::before {
    height: 1px;
  }
  .circle {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    border: 1px solid var(--line-border-empty);
  }
  .country__img {
    width: 100%;
    object-fit: cover;
  }
  .loading-page {
    width: 27rem;
    margin: 30vh auto;
  }
  .counter {
    top: 14rem;
  }
  .bg-video {
    width: 100%;
    height: 100%;
  }
  .odometer {
    left: 70%;
    font-size: 4rem;
    z-index: 100;
  }
  .current-score {
    margin-bottom: 1rem;
  }
  .new-r {
    left: 43.1%;
  }
  #wiki {
    margin-left: 23rem;
  }
  .signature {
    width: 60%;
    height: 40%;
  }
  .next {
    left: 33rem;
  }
  .previous {
    left: -2.3rem;
  }
  .next-prev {
    font-size: 4rem;
    height: 5rem;
    width: 5rem;
  }
  .country-explore{
    width: 35rem;
  }
  .country-card{
    margin-left: -0.5rem;
  }
}

@media only screen and (max-width: 375px) {
  .odometer {
    left: 100%;
  }
}